
@import url('https://fonts.googleapis.com/css?family=Krona+One');
@import url('https://fonts.googleapis.com/css?family=Lobster');



/* When the responsive class is added to the unordered list on hamburger button click 
placed in a media query in order to accomodate the toggle when in wider view*/
body {
  
   width: 960px;
   margin: 0 auto;
   
}


  .cabecalho {
    font-family: 'Krona One';
    padding: 10px;
    line-height: 2px;
}
  nav {
    background-color: #53b5e5;
    padding: 1em;
    margin-top: -50px;

   }
  nav li{
    font-family:'Lobster';
    font-size: 1.6em;
    list-style-type: none;
    display: inline-block;
    padding: .6em .6em;
    line-height: 2px;
    position: relative;
    object-position: center;
    left: 100px;
    

  }
  nav a {
    text-color: #FFFFFF;
    line-height: 2px;
    text-decoration: none;
  }

  nav a:hover {
    color: #ffbe1c;

}
  nav ul {
    margin: 0; 
    align-items: center;
  }
  .logo {
    position:relative;    
    background-color: white;
    width: 15%;
    height:15%;
    left: 10px;
    border-color: black;
  }  
  #sec1, #sec2 {
    background-color: #addcf3;
  }
  .franklinimg {
    text-align: center;
    align-content: center;
    align-items: center;
  }
  .summary {
    text-align: center;
    align-content: center;
    align-items: center;
  }
  .conditions {
    font-size: 20px;
    padding: 20px;
    line-height: 2;
  }  
  #forecast td, #forecast th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: white;
}

#forecast tr:nth-child(even){
  background-color: white;
}

#forecast th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #53b5e5;
    color: white;
}
#forecast {
    align-items: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  .pspec {
    color: #164a8a;
    padding: 10px;
}
 .articlenews{
   text-align: center;
   color:#696969 ;
   justify-content: center;
   align-items: center;
   align-content: center;
   background-color: #FFFFFF;
   padding: 10px;
   
 }
   .footer-bar{  
   text-align: center;
   color:#696969 ;
   justify-content: center;
   align-items: center;
  align-content: center;
  
  padding: 10px;
   }
 img{
   border-radius: 10px;
   padding: 10px;
   max-width: 100%;
 }
/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: auto; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}


