@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Poppins');


@media only screen and (min-width: 481px) {
  
  .dropdownMenu {
    display: none;
  }

  .right_sidebar {
    display: none;
  }

body {
  
   width: auto;
   margin: 0 auto;
   
}

  .logo {
    position:relative;
    float: center; 
    margin-top: 10px;    
    width: 180px;
    height:180px;
    left: 42%;
    border-color: black;
  }  
 
body {
   background-color: #e0e0d1;
   width: 1200px;
   margin: 0 auto;
   
}

 nav {
    background-color: #2a3648;
    padding: 1em;
    margin-top: 10px;
    align-items: center;
    text-align: center;
    height: 80px;

   }
  nav li{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    list-style-type: none;
    display: inline-block;
    padding: .8em 1em;
    line-height: 2px;
    position: relative;
    object-position: center;     

  }
  nav a {
    color: #ffffff;
    line-height: 2px;
    text-decoration: none;
  }

  nav a:hover {
   
    color: #85b7df;

}
  nav ul {
    margin: 1; 
    align-items: center;
  }

  nav a:active {
    text-decoration: none;
    color: #ffffff;
  }

   .active{
color:#85b7df;
border: 1px solid #ffffff;
padding: 4px;
border-radius: 10px;
}
  
  .shopbutton {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 14px;
  color: #2a3648;
  padding: 10px 20px;

  background: #acd8e8;  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 3px solid #ffffff;
  -moz-box-shadow:
    0px 1px 3px rgba(8,92,125,0.5),
    inset 0px 0px 3px rgba(8,92,125,1);
  -webkit-box-shadow:
    0px 1px 3px rgba(8,92,125,0.5),
    inset 0px 0px 3px rgba(8,92,125,1);
  box-shadow:
    0px 1px 3px rgba(8,92,125,0.5),
    inset 0px 0px 3px rgba(8,92,125,1);
  text-shadow:
    1px -1px 0px rgba(255,252,255,0.1),
    0px 1px 0px rgba(255,255,255,1);
}
.shopbutton:hover {
  background-color: #2a3648;
  color: #acd8e8;
}

 footer {
    margin-top: auto;
}

   .footerbar { 

   text-align: center;
   color: #ffffff;
   justify-content: center;
   align-items: center;
   align-content: center;
   text-decoration: none;  
   padding: 10px;
   align-content: center;
   align-items: center;
   margin-top: 30px;
   background-color: #2a3648;

   }

  footer a {
   color: #ffffff;
   text-decoration: none;
   }
 
 header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: 100%; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

 /*INDEX PAGE FORMATATION */
  div.article {
    float: left;
    width: 900px;
    height: 800px;    
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
  }

  div.article h2 {
    color: #2a3648;
  }

  div.article p {
    text-align: left;
    color: #2a3648;
  }
  div.article p.sec3 {
    text-align: center;
  }
  div.article p.sec3 a {
    text-decoration: none;
    color: #4f6978;
  }
  div.text_article {
    padding: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;

  }


  div.right_sidebar {    
    float: right;
    width: 250px;
    height: 700px;
    padding: 10px;
    border: 1px solid #ffffff;
    background-color: #141a23;
    margin-top: 20px;
    font-family: 'calibri';
  }
  div.right_sidebar h2 {
    text-align: center;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
  }
  div.right_sidebar h3 { 
    color: #acd8e8;
    text-decoration: underline;
    text-align: center;
  }
  div.right_sidebar p { 
    color: #ffffff;
  }
  .event_date { 
    font-weight: bold;
  }

  .service_links {
    padding: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 800px;
    text-align: center;
        
  }
  .service_links a {
    text-decoration: none;
  }
  div.left_link {
    width: 310px;
    height: 400px;
    background-color: #85b7df;
    border: 5px solid #acd8e8;
    float: left;
  }

  div.right_link {
    width: 310px;
    height: 400px;
    background-color: #85b7df;
    border: 5px solid #acd8e8;
    float: right;

    
  }
  .service_links p { 
    color: #2a3648;
    padding: 5px;
  }

  .service_links h3 { 
    color: #2a3648;
    border-radius: 5px;
    border: 1px solid #ffffff;
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;

  }
 /*EVENTS PAGE   */
 #global_form {
    margin-left:  300px; 
    width: 600px;
    padding: 10px;
    border: 1px solid #ffffff;
    background-color: #141a23;
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    border-radius: 10px;
  } 
  #global_form h3 {
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: #ffffff;
  }
 .submitbutton {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 14px;
  color: #2a3648;
  padding: 10px 20px;

  background: #acd8e8;  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 3px solid #ffffff;
  -moz-box-shadow:
    0px 1px 3px rgba(8,92,125,0.5),
    inset 0px 0px 3px rgba(8,92,125,1);
  -webkit-box-shadow:
    0px 1px 3px rgba(8,92,125,0.5),
    inset 0px 0px 3px rgba(8,92,125,1);
  box-shadow:
    0px 1px 3px rgba(8,92,125,0.5),
    inset 0px 0px 3px rgba(8,92,125,1);
  text-shadow:
    1px -1px 0px rgba(255,252,255,0.1),
    0px 1px 0px rgba(255,255,255,1);
}

.submitbutton:hover {
  background-color: #ffffff;
  color: #2a3648;
  } 

/*CONTACT PAGE   */

  div.leftcol {
    color: #2a3648;
  }
  div.leftcol p {
    font-weight: bold;
    text-align: center;
    padding: 50px; 
  }

  div.leftcol form {
    position: relative;
    float: right;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 30px;
    margin-right: 150px; 
    background-color: #85b7df; 
    padding: 30px;
    
  }
  form {
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a3648;
  }


 /* SERVICES PAGE */
  table {
    background-color: #f5f5f0;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #85b7df;
}


/* ADVENTURES PAGE */

div.sec2 {
  text-align: center;
  color: #2a3648;

}
div.sec2 h2 {
  background-color: #2a3648;
  color: #ffffff;
  border: 1px solid #ffffff;
  width: 500px;
  margin-left: 350px;
}
.sec1 {
  border: 4px solid #acd8e8;
  width: 450px;
  margin-left: 370px;
  padding: 5px;
}

/* GENERIC FORMATATION */
.negrito {
  font-weight: bold;
}

.center_italic {
  text-align: center;
  font-style: italic;
}
h2, h3, p {
  font-family: 'Roboto Condensed', sans-serif; 
  color: #2a3648;
} 

/* IMAGES FORMATATION */

.banner {
  width: 1200px;
  height: 250px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 300px;
    text-align: center;
    display: inline-block;
    padding: 2px;
    margin: 0 auto;
    padding: 10px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 300px;
    height: 200px;
}

div.leftcol img {
    float:left;
    margin:0 20px 10px 0;
}

div.rightcol img {
    float:right;
    margin:0 20px 10px 0;
}

  .article_img {
   border-radius: 20px;
   padding: 10px;
   width: 500px;
   height: 300px;
  }

  .links_img {
    border-radius: 0px;
    width: 300px; 
    height: 200px;
  }

  .right_sidebar img {
    border-radius: 10px;
    width: 150px;
    height: 100px;
    padding: 5px;

  }

  #bike_store {
    border-radius: 10px;
    width: 400px;
    height: 300px;
    padding: 5px;
  }

  /* BIKE SHOP */
  .price {
    background-color: #85b7df;
    padding: 4px;
    border: 1px solid blue;
    color: #2a3648;
    font-size: 18px;
  }

 }




